:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.product-image{
  height: 400px;
  width: 100%;
  

}
.rating span{
color: #ffc000;
}
.product-card{
  width: 100%;
}

img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}